.layout {
  background-color: #18121e;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.layout {
  display: flex;
  flex: 1 1 auto;
}
