.layout {
  background-color: #18121e;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 40px 1em 1em 2em;
}

.layout {
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  flex-wrap: wrap;
}
