.layout {
  background-image: url("../images/coche.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.layout .content {
  display: flex;
  flex: 1 1 auto;
}
