@media (max-width: 768px) {
  .h2 {
    font-weight: 500;
  }

  .col {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .about-me {
    display: block;
    justify-content: center;
    color: #f4decb;
  }
}

.h2 {
  font-weight: 900;
}

.col {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.about-me {
  display: flex;
  justify-content: center;
  color: #f4decb;
}
