.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

p {
  font-weight: 900;
  color: #f4decb;
  text-align: center;
}
