.home {
  color: rgb(48, 51, 53);
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  text-align: center;
  height: 250px;
  width: 800px;
  opacity: 0.6;
}

h1 {
  font-weight: 900;
}
