* {
  padding: 0;
  margin: 0;
}

.col-home {
  font-weight: 900;
  color: #f4decb;
}

@media only screen and (max-width: 700px) and (min-width: 415px) {
  .col-home {
    font-weight: 900;
    color: #f4decb;
  }

  .img-vianny {
    width: 100px;
    height: 100px;
    margin: 1em auto;
    border-radius: 50%;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-home {
    text-align: center;
    padding: 30px 1em 1em 2em;
  }
}

.img-vianny {
  width: 300px;
  height: 300px;
  margin: 1em auto;
  border-radius: 50%;
}

img {
  vertical-align: middle;
  border-style: none;
}
