.h2 {
  font-weight: 900;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
}

.carousel .control-dots {
  align-items: center;
  justify-content: center;
}

.carousel .control-slider .control-arrow {
  margin: 20px;
}

.caurosel li.slide img {
  height: 400px;
}

.carousel .slide {
  background: #18121e !important;
  color: #f4decb;
}

.slider-images .slide div > img {
  width: 50vh;
}
