.fab {
  font-size: 70px;
}

.btn-email {
  font-size: 80px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
}

@media only screen and (max-width: 700px) and (min-width: 315px) {
  .contact {
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fab {
    font-size: 40px;
  }
}