.layout {
  background-image: url("../images/fondo.jpg");
  background-color: #18121e;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  text-align: center;
  padding: 50px 1em 1em 2em;
}

.layout {
  flex: 1 1 auto;
}

.content {
  min-height: 100vh;
}

@media only screen and (max-width: 700px) and (min-width: 415px) {
  content {
    display: flex;
    flex: 1 1 auto;
    min-height: 100vh;
    flex-wrap: wrap;
  }
}
